extends layout.pug

mixin trimText(text, trimmingLength = 100)
  = text.length > trimmingLength ? `${text.substring(0, trimmingLength)}...` : text

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p
      | Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏
    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            a.themes__item-link(href=`/articles/category/${category.id}`)
              | #{category.name}
              =" "
              sup #{category.count}

    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое
          =" "
          span.hot__icon.hot__icon--fire

        if !mostCommentedArticles.length
          p.last__empty Здесь пока ничего нет...
        else
          ul.hot__list
            each article of mostCommentedArticles
              li.hot__list-item
                a.hot__list-link(href=`/articles/${article.id}`)
                  +trimText(article.announce)
                  sup.hot__link-sup #{article.commentsCount}

      section.main-page__last.last
        h2.last__name
          | Последние комментарии
          =" "
          span.last__icon.last__icon--cloud

        if !comments.length
          p.last__empty Здесь пока ничего нет...
        else
          ul.last__list
            each comment of comments
              li.last__list-item
                img.last__list-image(src=`/img/${comment.user.avatar}` width='20' height='20' alt='Аватар пользователя')
                b.last__list-name #{comment.user.firstName} #{comment.user.lastName}
                a.last__list-link(href=`/articles/${comment.articleId}`)
                  +trimText(comment.text)

    section.main-page__list.preview
      h2.visually-hidden Список превью статей

      if !articles.length
        p.hot__empty Здесь пока ничего нет...
      else
        ul.preview__list
          each article of articles
            li.preview__item
              ul.preview__breadcrumbs
                each category of article.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}

              .preview__background
                +insertArticleImage(article)(class="preview__background-image")

              time.preview__time(datetime=`${article.createdAt}`) #{formatDate(article.createdAt, 'article')}
              h3.preview__name
                a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
              p.preview__text #{article.announce}
              a.preview__comment(href=`/articles/${article.id}`)
                | Комментарии
                span.preview__cloud
                b.preview__comment-count #{article.comments.length}


    .preview__toggle-wrapper
      +pagination(page, totalPages, 2, `?`)
