extends ../layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='/') Назад
            time.post__date(datetime=`${article.createdAt}`) #{formatDate(article.createdAt)}
            h2.post__title.title.title--main #{article.title}

            ul.post__themes.themes
              each category in article.categories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)
                    | #{category.name}

          .post__picture
            +insertArticleImage(article)(alt=`${article.title}`)

          .post__text
            | #{article.announce}
            | #{article.fullText}

      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if article.comments && article.comments.length > 0
            h2.comments__title.title.title--middle Комментарии
            ul.comments__list
              each comment in article.comments
                li.comments__comment
                  .comments__avatar.avatar
                    img(src=`${comment.user.avatar}` alt=`Aватар пользователя ${comment.user.firstName} ${comment.user.lastName}`)
                  .comments__text
                    .comments__head
                      p #{comment.user.firstName} #{comment.user.lastName} •
                      time.comments__date(datetime=`${comment.createdAt}`) #{formatDate(comment.createdAt)}
                    p.comments__message #{comment.text}
          else
            h2.comments__title.title.title--middle Комментарии отсутствуют

          if user
            .comments__footer.comments__footer--user
              form(action=`/articles/${article.id}/comments` method='POST')
                input(type="hidden" name="_csrf" value=csrfToken)
                .comments__avatar.avatar
                  img(src=`${user.avatar}` alt=`Aватар пользователя ${user.firstName} ${user.lastName}`)
                label
                  textarea(rows='1' name='comment' placeholder='Присоединиться к обсуждению' required)
                button.comments__button.button.button--colored(type='submit') Опубликовать

              +insertErrorMessage(validationMessages)

          else
            .comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href="/login") Войти
              .comments__registration
                p.text.text--signature
                  a.title.title--small(href="/register") Регистрация
                  |
                  | чтобы присоединиться к переписке нужно зарегистрироваться